{% extends "users/baseTeacher.html" %}

{% block css %}
   {% load static %}
   <link rel="stylesheet"href="{% static 'users/css/teacher_dashboard.css' %}"/>

{% endblock css %}



{% block main %}
    <div id="content" class="p-lg-5 d-flex justify-content-between align-items-center">
        <div class="heading1" style="margin-top: 60px;">
            <h1>Welcome, {{ data.tname }}</h1>
            <button>Active</button>
        </div>
        <div class="heading2">
            <img src="{% static 'users/svgs/search.svg' %}" alt="Search" height="30" width="30">
            <img src="{% static 'users/svgs/bell.svg' %}" alt="Notifications" height="30" width="30">
            <img src="{% static 'users/images/professor.png' %}" alt="Profile" style="border-radius: 50%;" height="50"
                width="50">
        </div>
    </div>

    <div class="teacher-class p-3">
        <!-- Class Content -->
        <div class="teacher-class-heading d-flex justify-content-between align-items-center">
            <div class="heading1">
                <p class="mb-0" style="font-size: 1.2rem; font-weight: 600; color: black">Classes for the day</p>
            </div>
            <div class="heading2">
                <img src="{% static 'users/svgs/search.svg' %}" alt="Search" height="25" width="25"
                    style="cursor: pointer;">
                <img src="{% static 'users/svgs/threeline.svg' %}" alt="search" height="25" width="25"
                    style="cursor: pointer;">
            </div>
        </div>
        <hr>

        <div class="firstclass">
            <div class="heading d-flex justify-content-around align-content-center">
                <div class="heading1">
                    <p class="mb-0" style="font-size: 1.2rem; font-weight: 600; color: black; margin: 10px;">Mathematics
                    </p>
                </div>
                <div class="heading2">
                    <img src="{% static 'users/svgs/calendar.svg' %}" alt="" height="30" width="30"
                        style="margin: 10px;">
                    <p style="float: right; margin: 14px;">26-09-2002</p>
                </div>
            </div>
            <div class="info">
                <p style="margin-left: 10px;">Mathematics is the science and study of quality, structure, space, and change. Mathematicians
                    seek out patterns, formulate new conjectures, and establish truth by rigorous deduction from
                    appropriately chosen axioms and definitions.</p>
            </div>

        </div>
        <div class="firstclass">

            <div class="heading d-flex justify-content-around align-content-center">
                <div class="heading1">
                    <p class="mb-0" style="font-size: 1.2rem; font-weight: 600; color: black; margin: 10px;">Physics
                    </p>
                </div>
                <div class="heading2">
                    <img src="{% static 'users/svgs/calendar.svg' %}" alt="" height="30" width="30"
                        style="margin: 10px;">
                    <p style="float: right; margin: 14px;">26-09-2002</p>
                </div>
            </div>
            <div class="info">
                <p style="margin-left: 10px;">Mathematics is the science and study of quality, structure, space, and change. Mathematicians
                    seek out patterns, formulate new conjectures, and establish truth by rigorous deduction from
                    appropriately chosen axioms and definitions.</p>
            </div>

        </div>
    </div>

    <div class="mark-attendance">

        <div class="heading d-flex justify-content-evenly align-content-center m-3">
            <div class="heading1">
                <p class="mb-0 m-2" style="font-size: 1.5rem; font-weight: 600; color: black">Mark attendance</p>
            </div>
            <div class="heading2">
                   <img src="{% static 'users/svgs/arrow.svg' %}" alt="" height="20" width="20" style="margin: 10px;">
            </div>
        </div>
      
        <div class="boxes">
            <div class="box bg-info">1</div>
        <div class="box">1</div>
        <div class="box">1</div>
        <div class="box">1</div>
        </div>
      
       

    </div>

    <div class="calendar-container p-3">
        <div id="calendar"></div>
    </div>


    <div class="postNotification">
       <div class="container" style="position: relative; top: 20px;">
        <h2 style="margin-top: 20px;">Post notification for student</h2>

        <form method="POST" action="{% url 'postNotification' %}" style="margin-top: 40px;">
            {% csrf_token %}
            <textarea name="notice" id="notice" cols="40" rows="8" style="padding: 5px; overflow: scroll; border-radius: 20px;"></textarea>
            <button type="submit" class="btn btn-success">POST</button>
        </form>
       </div>
    </div>
{% endblock main %}


{% block script %}
<script src="{% static 'users/js/teacher_dashboard.js' %}"></script>
{% endblock script %}

